<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active" routerLink="/khas" >Resep Makanan Khas</button>
  <button type="button" class="list-group-item list-group-item-action" routerLink="/nusantara">Resep Selera Nusantara</button>
  <button type="button" class="list-group-item list-group-item-action" routerLink="/sambal" >Sambal</button>
</div>